<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHAT</title>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
  <div class="mainChater">
    <div class="chatArea changeW">
      <div class="chatMessages">
        <!--Start of Chat cont-->
        <div class="welcomeMess">
          <div class="img"><img src="/assets/images/imgChat.png" alt="Chat en vivo"></div>
          <h1 class="roomTitle">Chat en vivo</h1>
          <p id="copyLinker2" class="copyLinker2">user</p>
        </div>

        <div class="message">
          <div class="prof">
            <p>L</p>
          </div>
          <div class="messArea">
            <p id="sname">Lance Francisco | Team Poster</p>
            <div class="textM">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi quas aliquam commodi
              quaerat sit reiciendis dignissimos quam totam nemo.</div>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
        </div>

        <div class="message mMess 1122334" data-number="1122334">
          <div class="messArea">
            <p id="sname">James Ericson | <b>16:44</b></p>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
          <div class="prof" style="background-color: #ff7b54;">
            <p>J</p>
          </div>
        </div>

        <div class="message">
          <div class="prof" style="background-color: #939b62;">
            <p>M</p>
          </div>
          <div class="messArea">
            <p id="sname">Marcus Dilinmer</p>
            <div class="textM">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi quas aliquam commodi
              quaerat sit reiciendis dignissimos quam totam nemo.</div>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
        </div>
        <div class="message">
          <div class="prof" style="background-color: #ffb26b;">
            <p>A</p>
          </div>
          <div class="messArea">
            <p id="sname">Alexandria Patkinson | <b>21:32</b></p>
            <div class="textM">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi quas aliquam commodi
              quaerat sit reiciendis dignissimos quam totam nemo.</div>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
        </div>
        <div class="message">
          <div class="prof">
            <p>L</p>
          </div>
          <div class="messArea">
            <p id="sname">Lance Francisco</p>
            <div class="textM">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi quas aliquam commodi
              quaerat sit reiciendis dignissimos quam totam nemo.</div>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
        </div>
        <div class="message mMess 1122334" data-number="1122334">
          <div class="messArea">
            <p id="sname">James Ericson</p>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
          <div class="prof" style="background-color: #ff7b54;">
            <p>J</p>
          </div>
        </div>
        <div class="message">
          <div class="prof" style="background-color: #939b62;">
            <p>M</p>
          </div>
          <div class="messArea">
            <p id="sname">Marcus Dilinmer</p>
            <div class="textM">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi quas aliquam commodi
              quaerat sit reiciendis dignissimos quam totam nemo.</div>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
        </div>
        <div class="message">
          <div class="prof" style="background-color: #ffb26b;">
            <p>A</p>
          </div>
          <div class="messArea">
            <p id="sname">Alexandria Patkinson</p>
            <div class="textM">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi quas aliquam commodi
              quaerat sit reiciendis dignissimos quam totam nemo.</div>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
        </div>
        <div class="message">
          <div class="prof">
            <p>L</p>
          </div>
          <div class="messArea">
            <p id="sname">Lance Francisco</p>
            <div class="textM">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi quas aliquam commodi
              quaerat sit reiciendis dignissimos quam totam nemo.</div>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. https://mi.com. Dignissimos
              omnis illum voluptates sed provident saepe?.</div>
          </div>
        </div>
        <!-- <div class="message mMess 1122334" data-number="1122334">
          <div class="messArea">
            <p id="sname">James Ericson</p>
            <div class="textM">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos omnis illum
              voluptates sed provident saepe?.</div>
          </div>
          <div class="prof" style="background-color: #ff7b54;">
            <p>J</p>
          </div>
        </div> -->
      </div>

      <div class="messageBox">
        <div class="textA"><textarea id="message" name="message" rows="1" cols="30"
            placeholder="Type your message here"></textarea></div>
        <button id="send" class="button-s1" tooltip="Enviar" flow="left"><span
            class="material-icons headerIcon">send</span></button>
      </div>
      <div id="goToDown" class="downDowny"><span class="material-icons">arrow_downward</span></div>
    </div>
  </div>

  <script>
    var roomValue = "ADMIN",
      userId = '1122334',
      myRoomJson;
    $('.roomTitle').text("Chat en vivo")
    $('.copyLinker2').text(roomValue)
    $("textarea").keydown(function (e) {
      // Enter was pressed without shift key
      if (e.key == 'Enter' && !e.shiftKey) {
        sendT();
        e.preventDefault();
      }
    });

    $("#send").click(sendT);

    function sendT() {
      if ($('.message').last().data("number") == userId) {
        //showErrors('tips', 'Tips', 'Press Ctrl + Shift to make a new line!');
        $('.message .messArea').last().append('<div class="textM ' + userId + ' newMmess">' + $('#message').val() + '</div>')
        var goup = setTimeout(function () {
          $('.message .messArea .textM').last().removeClass('newMmess');
        }, 10);
        $('#message').val('')
        goToBottom();
        findText()
      }
    }

    document.onload = goToBottom();

    var chatStatus = 1;
    $('.chatArea').on('scroll', function () {
      if ($(this).scrollTop() + $(this).innerHeight() < $(this)[0].scrollHeight - $('.message').last().innerHeight()) {
        newGoD()
      }
    })

    findText()

    function findText() {
      var message = document.querySelectorAll('.textM'),
        i;
      for (i = 0; i < message.length; i++) {
        message[i].innerHTML = linkify(message[i].textContent);
      }
    }
    var iaeou = 0;

    function linkify(text) {
      var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
      return text.replace(urlRegex, function (url) {
        return '<a href="' + url + '" target="blank">' + url + "</a>";
      });
    }

    $("#message").on("input", function () {
      var textarea = document.querySelector("#message")
      enteredText = textarea.value;
      numberOfLineBreaks = (enteredText.match(/\n/g) || []).length;
      characterCount = enteredText.length + numberOfLineBreaks;
      rowcount = numberOfLineBreaks + 1;
      if (rowcount < 4) {
        $("#message").attr('rows', rowcount)
      }
    });

    function newGoD() {
      $("#goToDown").removeClass('downDowny')
    }

    $("#goToDown").click(function () {
      goToBottom();
    })

    function goToBottom() {
      $("#goToDown").addClass('downDowny');
      $('.chatArea').scrollTop($('.chatArea')[0].scrollHeight);
    }
  </script>
</body>


</html>